.use-date{
    height: 13%;
    border-radius: 4px;
    margin-top: 6%;
    margin-left: 5%;
}
.use-number{
    margin-top: 6%;
    margin-left: -9%;
    border-radius: 4px;
    height: 13%;
}
.use-title{
    margin-top: 6%;
    margin-left: 0%;
    border-radius: 4px;
    height: 13%;
}